@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@theme {
  --color-primary-blue: #3d50b9;
  --color-secondary-blue: #5060bc;
  --color-third-blue: #419eba;
  --color-primary-green: #31dcb7;
  --color-secondary-green: #20ba99;
  --color-primary-white: #fcfefd;
  --color-primary-grey: #a9a9a9;
  --color-primary-red: #fb2c36;
  --color-secondary-red: #ef0510;
}

@layer components {
  /* auth layout */
  .authed-layout-container {
    @apply md:grid md:grid-cols-[192px_1fr_1fr_1fr_1fr] md:grid-rows-[80px_1fr_1fr_1fr_1fr_1fr_35px] md:gap-0 h-screen w-screen flex flex-col;
  }

  .authed-outlet-container {
    @apply md:col-start-2 md:col-span-4 md:row-start-2 md:row-span-5 flex flex-1 items-center justify-center overflow-y-auto;
  }

  /* links */
  .welcome-menu-home-page-link {
    @apply bg-primary-green text-primary-white md:mr-8 px-6 py-3 font-bold rounded-lg hover:bg-secondary-green transition duration-300 ease-in-out cursor-pointer hover:scale-105;
  }

  .logged-in-menu-links {
    @apply relative flex items-center uppercase text-[1.2rem] font-semibold transition-[0.5s] z-[1] py-2 before:content-[''] before:absolute before:w-full before:h-full before:border-t-primary-green before:border-b-primary-green before:opacity-0 before:transition-[0.3s] before:border-y-2 before:border-solid before:scale-y-[2] before:left-0 before:top-0 after:content-[''] after:absolute after:w-full after:h-full after:opacity-0 after:transition-[0.3s] after:z-[-1] after:scale-0 after:left-0 after:top-0.5 hover:text-primary-green hover:before:opacity-100 hover:before:scale-y-100 hover:after:opacity-100 hover:after:scale-y-100;
  }

  /* buttons */
  .login-button {
    @apply bg-primary-green text-primary-white px-6 py-3 font-bold rounded-lg hover:bg-secondary-green transition duration-300 ease-in-out cursor-pointer hover:scale-105;
  }

  .register-button {
    @apply bg-primary-white text-primary-blue px-6 py-3 font-bold rounded-lg hover:bg-gray-200 transition duration-300 ease-in-out cursor-pointer hover:scale-105;
  }

  .edit-button {
    @apply bg-primary-blue p-3 rounded-full text-primary-white hover:bg-secondary-blue transition-all duration-400 cursor-pointer hover:scale-105;
  }

  .delete-button {
    @apply bg-primary-red p-3 rounded-full w-[50%] text-primary-white hover:bg-secondary-red transition-all duration-400 cursor-pointer;
  }

  /* errors */
  .error-message {
    @apply text-primary-red text-xs font-bold h-5;
  }

  /* inputs */
  .register-input {
    @apply md:w-[13rem] w-[14rem] leading-[30px] transition-[0.5s] duration-[ease] p-2 rounded-[10px] border-1 border-primary-grey border-solid hover:border-primary-green hover:shadow-[0_0_0_3px_rgb(49_220_183_/_30%)] focus:border-primary-green focus:shadow-[0_0_0_3px_rgb(49_220_183_/_30%)];
    outline: none;
  }

  .login-input {
    @apply w-[18rem] leading-[30px] transition-[0.5s] duration-[ease] p-2 rounded-[10px] border-1 border-primary-grey border-solid hover:border-primary-green hover:shadow-[0_0_0_3px_rgb(49_220_183_/_30%)] focus:border-primary-green focus:shadow-[0_0_0_3px_rgb(49_220_183_/_30%)];
    outline: none;
  }

  .delete-input {
    @apply w-[18rem] leading-[30px] transition-[0.5s] duration-[ease] p-2 rounded-[10px] border-2 border-solid hover:border-primary-red hover:shadow-[0_0_0_3px_rgb(251_44_54_/_30%)] focus:border-primary-red focus:shadow-[0_0_0_3px_rgb(251_44_54_/_30%)];
    outline: none;
  }

  /* menus */
  .dropdown-menu {
    @apply border-2 border-primary-blue rounded-xl bg-primary-white p-2 mt-2 shadow-2xl;
  }

  .breadcrumb-menu {
    @apply md:hidden flex items-center justify-center bg-primary-green text-primary-white px-4 py-3 font-bold rounded-lg hover:bg-secondary-green transition duration-300 ease-in-out hover:cursor-pointer;
  }

  /* footer */
  .footer-div {
    @apply md:col-start-2 md:col-span-4 md:row-start-7 flex items-center justify-center bg-white border-t-2 border-primary-grey;
  }
  .footer-p {
    @apply text-xs md:text-sm font-bold text-secondary-blue;
  }
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar-track {
  border: 1px solid #31dcb7;
  background-color: #fcfefd;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #fcfefd;
}

::-webkit-scrollbar-thumb {
  background-color: #31dcb7;
}
